@page "/"
@page "/bridge"
@layout MainLayout
@inherits Bridgesense.Pages.BridgeComponent

@using Radzen
@using Radzen.Blazor
@using Bridgesense.Models.BridgesenseData
<PageTitle>Bridge</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Bridge">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getBridgesResult" FilterMode="Radzen.FilterMode.Advanced" TItem="Bridgesense.Models.BridgesenseData.Bridge" Render="@Grid0Render" RowSelect="@Grid0RowSelect">
          <Columns>
              <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="name" Title="Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="latitude" Title="Latitude">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="longitude" Title="Longitude">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" FormatString="{0:d}" Property="created_at" Title="Created At">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" FormatString="{0:d}" Property="updated_at" Title="Updated At">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="vild_code" Title="Vild Code">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="owner" Title="Owner">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="manager" Title="Manager">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridge" Property="isrs" Title="Isrs">
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>

        <RadzenHeading Size="H1" Text="Bridgestats">
        </RadzenHeading>

          <RadzenChart ColorScheme="ColorScheme.Pastel" style="width: 301px">
          <ChildContent>
            <RadzenPieSeries CategoryProperty="bridge_id" Data="@Bridgestats" ValueProperty="avg">
            </RadzenPieSeries>
          </ChildContent>
        </RadzenChart>

         <RadzenDataGrid @ref="grid3" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@Bridgestats" FilterMode="Radzen.FilterMode.Advanced" TItem="Bridgesense.Models.BridgesenseData.Bridgestat">
                    <Columns>
                        <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridgestat" FilterProperty="Bridge.id" GroupProperty="Bridge.id" Property="bridge_id" SortProperty="Bridge.id" Title="Bridge_Id">
                            <Template Context="data">
                                @(data.Bridge?.id)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridgestat" Property="max" Title="Max">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridgestat" Property="min" Title="Min">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridgestat" Property="avg" Title="Average">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Bridgestat" Property="std" Title= "Stdev">
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

        <RadzenHeading Size="H1" Text="Sensors">
        </RadzenHeading>
        <RadzenDataGrid @ref="grid1" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@Sensors" FilterMode="Radzen.FilterMode.Advanced" TItem="Bridgesense.Models.BridgesenseData.Sensor" Render="@Grid1Render" RowSelect="@Grid1RowSelect">
          <Columns>
             <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" Property="id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" FormatString="{0:d}" Property="created_at" Title="Created At">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" FormatString="{0:d}" Property="updated_at" Title="Updated At">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" Property="udid" Title="Udid">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" Property="sensortype" Title="Sensortype">
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>

        

        <RadzenHeading Size="H1" Text="Stats">
        </RadzenHeading>

        <RadzenChart ColorScheme="ColorScheme.Pastel" style="width: 301px">
          <ChildContent>
            <RadzenPieSeries CategoryProperty="event1" Data="@SensorEventCounts" ValueProperty="count">
            </RadzenPieSeries>
          </ChildContent>
        </RadzenChart>

        <RadzenDataGrid @ref="grid2" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@SensorEventCounts" FilterMode="Radzen.FilterMode.Advanced" TItem="Bridgesense.Models.BridgesenseData.SensorEventCount">
          <Columns>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="count" Title="Count">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="event1" Title="Event">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="type" Title="Type">
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>

      </div>
    </div>
  </ChildContent>
</RadzenContent>


