@page "/sensor"
@layout MainLayout
@inherits Bridgesense.Pages.SensorComponent

@using Radzen
@using Radzen.Blazor
@using Bridgesense.Models.BridgesenseData
<PageTitle>Sensor</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Sensor">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getSensorsResult" FilterMode="Radzen.FilterMode.Advanced" TItem="Bridgesense.Models.BridgesenseData.Sensor" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" FilterProperty="Bridge.name" GroupProperty="Bridge.name" Property="bridge_id" SortProperty="Bridge.name" Title="Bridge">
              <Template Context="data">
              @(data.Bridge?.name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" FormatString="{0:d}" Property="created_at" Title="Created At">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" FormatString="{0:d}" Property="updated_at" Title="Updated At">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" Property="id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" Property="udid" Title="Udid">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.Sensor" Property="sensortype" Title="Sensortype">
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
        <RadzenHeading Size="H1" Text="SensorEventCounts">
        </RadzenHeading>
        <RadzenChart ColorScheme="ColorScheme.Pastel" style="width: 302px">
          <ChildContent>
            <RadzenPieSeries CategoryProperty="event1" Data="@SensorEventCounts" ValueProperty="count">
            </RadzenPieSeries>
          </ChildContent>
        </RadzenChart>
        <RadzenDataGrid @ref="grid1" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@SensorEventCounts" FilterMode="Radzen.FilterMode.Advanced" TItem="Bridgesense.Models.BridgesenseData.SensorEventCount">
          <Columns>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" FilterProperty="Bridge.name" GroupProperty="Bridge.name" Property="bridge_id" SortProperty="Bridge.name" Title="Bridge">
              <Template Context="data">
              @(data.Bridge?.name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="count" Title="Count">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" FilterProperty="Sensor.udid" GroupProperty="Sensor.udid" Property="sensor_id" SortProperty="Sensor.udid" Title="Sensor">
              <Template Context="data">
              @(data.Sensor?.udid)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="event1" Title="Event">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Bridgesense.Models.BridgesenseData.SensorEventCount" Property="type" Title="Type">
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
